<div class="navbar-header">
    <div class="navbar-brand">Example</div>
</div>

<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li>
            <a href="#">Dashboard</a>
        </li>
        <li>
            <a href="#test1">Test 1</a>
        </li>
        <li>
            <a href="#test2/12345">Test 2</a>
        </li>
    </ul>

    <ul class="nav navnbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <span class="avatar"></span>
                <span class="name">Name</span>
                <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a href="#profile">Profile</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="logout">Log out</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
