<h2>Change password</h2>
<div class="form-group">
	<label for="password1">New password</label>
	<input type="text" class="form-control" id="password1" placeholder="New password" autocomplete="new-password" autofocus>
	<input type="text" class="form-control" id="password2" placeholder="Repeat password" autocomplete="new-password">
</div>
<div class="alert alert-warning identical-passwords" style="display: none;">
	<i class="fa fa-exclamation-circle"></i> The passwords must be the same.
</div>
<div class="alert alert-warning password-length" style="display: none;">
	<i class="fa fa-exclamation-circle"></i> Your password must be at least 8 characters long.
</div>
<button type="submit" class="btn btn-primary ladda-button" data-style="zoom-out">
	<span class="ladda-label">Save password</span>
</button>