<h2>Request password reset</h2>
<div class="form-group">
	<label for="username">Username or email</label>
	<input type="text" class="form-control" id="username" placeholder="Username" autofocus>
</div>
<div class="alert alert-info" style="display: none;">
	<i class="fa fa-envelope"></i> An email with instructions on how to reset your password has been sent to you.
    Please wait a few minutes for it to arrive, and check your spam folder if it does not show up.
</div>
<button type="submit" class="btn btn-primary ladda-button" data-style="zoom-out">
	<span class="ladda-label">Reset password</span>
</button>