<div class="form-group">
	<label for="integration-tests">Integration tests</label>
	<input type="text" class="form-control" id="integration-tests" placeholder="master" autofocus>
</div>
<div class="form-group">
	<label for="apps">Apps</label>
	<input type="text" class="form-control" id="apps" placeholder="master">
</div>
<div class="form-group">
	<label for="changelog">Changelog</label>
	<textarea class="form-control" id="changelog"></textarea>
</div>
<button type="submit" class="btn btn-primary ladda-button" data-style="zoom-out">
	<span class="ladda-label">Start ITs</span>
</button>
